data/raw/
data/processed/
data/raw/
data/processed/
mlruns/
__pycache__/
*.pyc
.pytest_cache/
*.log
loss_curve.png
confusion_matrix.png
PetImages/
mlruns/
__pycache__/
*.pyc
.pytest_cache/
*.log
loss_curve.png
confusion_matrix.png
PetImages/